/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/*FOOTER*/

footer {
  height: 50px;
  width: 100vw;
  background-color: rgb(147, 147, 147);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  bottom: 0;
  margin-top: 20px;
  position: fixed;
}

footer a {
  text-decoration: none;
}
footer a:visited {
  color: rgb(96, 96, 96);
}
footer a:hover {
  color: #ffffff;
}
footer img {
  height: 30px;
}